*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #1e232c;
    color: #c7c6c6;
    position: relative;
}

.container{
    width: 50%;
    margin: auto;
}
.container-header{
    width: auto;
    height: auto;
    position: relative;
    background-color: #181d25;
}
.main-header .container-header p{
    position: absolute;
    margin: 10px;
}

.main-header{
    background-color: #181d25;
    text-align: left;
    font-style:normal;
    height: 70px;
    font-weight: bold;
    
}

.main-navbar{
    background-color: #181d25;
    border-bottom: 1px #646262 solid;
    padding-bottom: 5px;
}
.main-navbar ul{
    padding: 0;
    list-style: none;
}
.main-navbar li{
    display: inline;
    padding: 10px;
}
.main-navbar a{
    color: #c7c6c6;
    font-size: 18px;
    padding-right: 10px;
    text-decoration: none;
}
.main-navbar a:active{
    font-weight: bold;
    border-bottom: 5px #f37f7f solid;
}
.noticeboard{
    border: 1px #646262 solid;
    padding: 16px;
    margin-top: 50px;
    border-radius: 6px;
    height: 180px;
}
.main-page{
    border: 1px #646262 solid;
    padding: 16px;
    margin-top: 80px;
    border-radius: 6px;
    height: 300px;
}
.clr{
    clear: both;
}
.art{
    border: 1px #646262 solid;
    padding: 16px;
    margin: 10px;
    width: 50%;
    float: left;
    box-sizing: border-box;
    
}

.sidebar img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    
   
}
.image-dv{
    width: 65%;
    border-radius: 50%;
    height: 40%;
    border: rgb(182, 177, 187) double 5px;
    margin-bottom: 16px;
}
.sidebar{
    padding: 16px;
    width: 20%;
    background-color: #1e232c;
    margin-top: -629px;
    position: absolute;
    height: 650px;
    margin-bottom: 60px;
    border-right: 1px #646262 solid;
    font-family: Arial, Helvetica, sans-serif;
}

.main-footer{
    width: auto;
    height: 73px;
    background-color: #181d25;
    margin-top: 50px;
    padding: 16px;
}
.sidebar label p{
    padding: 10px;
    margin-right: 50%;
    text-align: center;
    font-size: 1.5em;
    font-family: serif;
    font-weight: bold;

}
.about-me p{
    font-size: 16px;
}
.about-me h5{
    text-decoration: underline double 1px;
    border-width: 1px;
    margin: 10px;
    padding: 10px;
    font-size: 10px;
}

@media only screen and (max-width:990px){
 
    .container{
        width: 67%;
        margin-left: 29% ;
    }
    .container-header{
        width: auto;
        height: auto;
        position: relative;
        background-color: #181d25;
    }
    .main-header .container-header p{
        position: absolute;
        margin: 5px;
    }

    .main-header{
        background-color: #181d25;
        text-align: left;
        font-style:normal;
        height: 70px;
        font-weight: bold;
        

    }

    .sidebar img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
        
       
    }
    .image-dv{
        width: 70%;
        border-radius: 50%;
        height: 9%;
        border: rgb(182, 177, 187) double 5px;
        margin-bottom: 16px;
    }
    .sidebar{
        padding: 16px;
        width: 20%;
        background-color: #1e232c;
        margin-top: -360px;
        position: absolute;
        height: 500px;
        margin-bottom: 60px;
        border-right: 1px #646262 solid;
        font-family: Arial, Helvetica, sans-serif;
        z-index: -1;
        overflow: hidden;
        
    }
    
    .main-footer{
        width: auto;
        height: 45px;
        background-color: #181d25;
        margin-top: 96px;
        padding: 16px;
      
    }
    .sidebar label p{
        padding-bottom: 10px;
        margin-right: 60%;
        text-align: center;
        font-size: 0.5em;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-weight: bold;
      float: left;
    
    }
    .about-me p{
        font-size: 8px;
    }
    .about-me h5{
        text-decoration: underline double 1px;
        border-width: 1px;
        margin: 5px;
        padding: 5px;
        font-size: 10px;
    }

    .noticeboard{
        border: 1px #646262 solid;
        padding: 10px;
        margin-top: 10px;
        border-radius: 6px;
        height: 90px;
    }
    .art{
        border: 1px #646262 solid;
        padding: 5px;
        margin: 5px;
        width: 30%;
        float: left;
        box-sizing: border-box;
        
    }
    .art p{
        font-size: 0.5em;
    }
    .main-page{
        border: 1px #646262 solid;
        padding: 10px;
        margin-top: 20px;
        border-radius: 6px;
        height: 200px;
    }
}


@media only screen and (max-width:800px){
 
    .container{
        width: 67%;
        margin-left: 29% ;
    }
    .container-header{
        width: auto;
        height: auto;
        position: relative;
        background-color: #181d25;
    }
    .main-header .container-header p{
        position: absolute;
        margin: 5px;
    }

    .main-header{
        background-color: #181d25;
        text-align: left;
        font-style:normal;
        height: 70px;
        font-weight: bold;
        

    }

    .sidebar img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
        
       
    }
    .image-dv{
        width: 70%;
        border-radius: 50%;
        height: 9%;
        border: rgb(182, 177, 187) double 5px;
        margin-bottom: 16px;
    }
    .sidebar{
        padding: 16px;
        width: 20%;
        background-color: #1e232c;
        margin-top: -360px;
        position: absolute;
        height: 500px;
        margin-bottom: 60px;
        border-right: 1px #646262 solid;
        font-family: Arial, Helvetica, sans-serif;
        z-index: -1;
        overflow: hidden;
        
    }
    
    .main-footer{
        width: auto;
        height: 45px;
        background-color: #181d25;
        margin-top: 96px;
        padding: 16px;
      
    }
    .sidebar label p{
        padding-bottom: 10px;
        margin-right: 60%;
        text-align: center;
        font-size: 0.5em;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-weight: bold;
      float: left;
    
    }
    .about-me p{
        font-size: 8px;
    }
    .about-me h5{
        text-decoration: underline double 1px;
        border-width: 1px;
        margin: 5px;
        padding: 5px;
        font-size: 10px;
    }

    .noticeboard{
        border: 1px #646262 solid;
        padding: 10px;
        margin-top: 10px;
        border-radius: 6px;
        height: 90px;
    }
    .art{
        border: 1px #646262 solid;
        padding: 5px;
        margin: 5px;
        width: 30%;
        float: left;
        box-sizing: border-box;
        
    }
    .art p{
        font-size: 0.5em;
    }
    .main-page{
        border: 1px #646262 solid;
        padding: 10px;
        margin-top: 20px;
        border-radius: 6px;
        height: 200px;
    }
}
